@charset "UTF-8";

/*
   em HTML é id    = em CSS é # (só pode um elemento)
   em HTML é class = em CSS é . (pode vários elementos)
*/
body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: green;
}

#principal {
    text-align: center;
    background-color: green;
    color: white;
}

h2 {
    color: rgb(3, 80, 18);
}

.basico {
   color: rgb(8, 199, 8);
}

.intermediario {
    color: yellow;
}

.avançado {
    color: red;
}

.destaque {
    background-color: rgb(157, 179, 36);
}
